* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(277deg, #996A3B 0%, rgba(255, 255, 255, 0.00) 35.56%),
                linear-gradient(104deg, #986D43 0.5%, #AA9A90 63.51%);
}

main {
    position: relative;
    width: 305px;
    height: 460px;
    overflow: hidden;
    background: #AA9A90;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    padding-top: 10px; /* Spazio sopra il contenuto */
    margin-bottom: 30px; /* Incrementato il margine inferiore per creare spazio */

}

article > header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 10px;
}

/*____________________style img profile____________________*/

article > header > img {
    width: 40px; /* Dimensione dell'immagine */
    height: 40px;
    border-radius: 50%; /* Rendere l'immagine rotonda */
    object-fit: cover; /* Mantiene l'aspetto dell'immagine */
    border: 2px solid #fff; /* Bordo bianco intorno all'immagine */
    margin-right: 10px;
}

/*____________________style label descrizione____________________*/

article > label {
    display: none;
}

/*____________________style label Creazione Post____________________*/

header > h1 {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 3px;
}

/*____________________style img____________________*/

section {
    margin: 0 auto;
    width: 90%;
    height: 0;
    padding-bottom: 90%; /* Rapporto 1:1 per mantenere la sezione quadrata */
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 5px;
}

section > label > img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*____________________style descrizione____________________*/

textarea {
    width: 91%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin: 15px;
    box-shadow: 5px 10px 20px #3b3b3b;
}

/*____________________style bottone____________________*/

/* Stile per il pulsante di conferma */
button {
    background-color: #2e2e2e;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto; /* Aggiunto per centrare il bottone */
    position: relative;
    overflow: hidden;
    box-shadow: 5px 10px 20px #3b3b3b;
}

button:hover {
    background-color: #adadad;
    color: #000;
}

button:active {
    background-color: #2e2e2e;
}

/* Animazione per l'effetto di "pressione" */
button:active::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: pressAnimation 0.3s linear;
}

@keyframes pressAnimation {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

section > img {
    display: none;
}

#confirmationMessage {
    display: none;
    background-color: #6aca6f;
    color: rgb(27, 27, 27);
    text-align: center;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 16px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18%; /* Altezza del 100% per occupare l'intera altezza della finestra */
    width: 50%;
    transition: opacity 0.5s ease-in-out;
}

#confirmationMessage p {
    text-align: center;
    margin: 10px;
    font-size: 14px;
    color: #fff;
}