@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&family=Newsreader:opsz,wght@6..72,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

:root{
    --backgnd: #E6E6E6;
    --text: #000;
    --contrast: #A1A7B8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--backgnd)
}

main {
    width: 305px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Spazio tra i figli */
    align-items: center;
}

main > section {
    position: relative;
    width: 305px;
    min-width: 305px;
    height: 465px;
    overflow: hidden;
    background: var(--contrast);
    padding-top: 10px; /* Spazio sopra il contenuto */
    padding-bottom: 10px; /* Spazio sopra il contenuto */
    margin-bottom: 30px; /* Incrementato il margine inferiore per creare spazio */
}

main > img {
    display: none;
}

article > header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 10px;
}

/*____________________style img profile____________________*/

article > header > img {
    width: 40px; /* Dimensione dell'immagine */
    height: 40px;
    border-radius: 50%; /* Rendere l'immagine rotonda */
    object-fit: cover; /* Mantiene l'aspetto dell'immagine */
    border: 2px solid var(--backgnd); /* Bordo bianco intorno all'immagine */
    margin-right: 10px;
}

/*____________________style label descrizione____________________*/

article > form > label:not([for="error-message"]) {
    display: none;
}

/*____________________style label errore____________________*/

.error-message {
    text-align: center;
    font-size: small;
    margin-top: 0;
    margin-left: 5%;
}

/*____________________style label Creazione Post____________________*/

header > h1 {
    padding: 3px;
}

/*____________________style img____________________*/

section {
    margin: 0 auto;
    width: 90%;
    height: 0;
    padding-bottom: 90%; /* Rapporto 1:1 per mantenere la sezione quadrata */
    position: relative;
    overflow: hidden;
    border: 2px solid var(--backgnd);
}

section > label > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*____________________style descrizione____________________*/

textarea {
    width: 91%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    border: 1px solid var(--backgnd);
    border-radius: 5px;
    resize: none;
    margin: 15px 15px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*____________________style bottone____________________*/

/* Stile per il pulsante di conferma */
button {
    background-color: #2e2e2e;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto; /* Aggiunto per centrare il bottone */
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button:hover {
    background-color: #adadad;
    color: #000;
}

button:active {
    background-color: #2e2e2e;
}

/* Animazione per l'effetto di "pressione" */
button:active::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section > img {
    display: none;
}

#confirmationMessage {
    display: none;
    background-color: #6aca6f;
    color: var(--text);
    text-align: center;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 16px;
    z-index: 999;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18%; /* Altezza del 100% per occupare l'intera altezza della finestra */
    width: 50%;
    transition: opacity 0.5s ease-in-out;
}

#confirmationMessage p {
    text-align: center;
    margin: 10px;
    font-size: 14px;
    color: #fff;
}

.navbar {
    margin-left: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container label {
    display: none;
}

.container select {
    width: 7rem;
    margin-right: 15px;
    font-size: small;
}

.container select option {
    font-size: small;
    margin-bottom: 2px;
}

#photoInput {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1161px) {
    #pic2 {
        display: none;
    }
    main > img {
        height: 75%;
        display: block;
    }
}

@media screen and (min-width: 1162px) {
    main > img {
        height: 75%;
        display: block
    }
    main > section {
        height: 470px;
    }
    main > section > article > textarea {
        font-size: small;
        padding-bottom: 15px;
    }
}