@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

:root{
    --backgnd: #E6E6E6;
    --text: #000;
    --backgnd_contrast: #A1A7B8;
}

body{
    background-color: var(--backgnd);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* ____________________style header____________________ */

header, nav{
    width: 100%;
}

header > ul{
    padding: 1rem;
    display:grid;
    list-style: none;
}

header ul li:first-child{
    grid-row: 1 / 4;
    grid-column: 1 / 5;
    padding-left: 1.5rem;
}

header ul li:nth-child(2), header ul li:last-child{
    grid-row: 2;
    text-align: center;
}

.logo{
    width: 80px;
    border-radius: 50%;
}

/*____________________style icon____________________*/

.icon {
    transition: 0.8s ease;
}

.icon:hover {
    transform: scale(1.4);
}

.icon:hover ~ .line {
    display: block;
}

/* ____________________style main____________________*/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main input {
    width: 90%;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background: #EBEDE9;
    color: var(--textContrast);
    box-shadow: 3px 3px 0px 0.5px rgba(0, 0, 0, 0.25);
    border: solid 1px #ADB5BD;
    font-size: 16px;
}

main form{
    width: 90%;
    text-align: center;
}

.post{
    margin: 1rem 3rem;
    text-align: center;
    border-bottom: solid var(--text);
    max-width: 400px;
}

.post>img{
    width: 100%;
    height: auto;
}

.post>header>img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.post>header{
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post>header>a{
    margin-left: 5%;
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}

.post>p{
    margin: 2% 0;
    padding: 4%;
    border-radius: 1rem;
    background-color: var(--backgnd_contrast);
}

.post section{
    list-style: none;
    margin-bottom: 1rem;
}


@media screen and (min-width: 768px) {

    * {
        font-size: 18px;
    }

    .icon{
        scale: 1.2;
    }
    
    main input{
        padding: 0.8rem;
    }

    .post header a{
        font-size: 18px;
    }

}

@media screen and (min-width: 1162px) {

    * {
        font-size: 18px;
    }
    
    
}