@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

:root{
    --backgnd: #E6E6E6;
    --text: #000;
    --backgnd_contrast: #A1A7B8;
}

body{
    background-color: var(--backgnd);
    font-family: 'Poppins', sans-serif;
}

/* ____________________style header____________________ */

header, nav{
    width: 100%;
}

header > ul{
    padding: 2rem 2rem;
    display:grid;
    list-style: none;
}

header ul li:first-child{
    grid-row: 1 / 4;
    grid-column: 1 / 5;
    padding-left: 1.5rem;
}

header ul li:nth-child(2), header ul li:last-child{
    grid-row: 2;
    text-align: center;
}

header>ul>li>img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

/*____________________style icon____________________*/

.icon {
    transition: 0.8s ease;
}

.icon:hover {
    transform: scale(1.4);
}

.icon:hover ~ .line {
    display: block;
}

/* ____________________style main____________________*/

main{
    width: 100%;
}

main input {
    width: 90%;
    padding: 2rem 2rem;
    border-radius: 2rem;
    background: #EBEDE9;
    color: var(--textContrast);
    box-shadow: 3px 3px 0px 0.5px rgba(0, 0, 0, 0.25);
    border: solid 1px #ADB5BD;
    font-size: 25pt;
}

main form{
    text-align: center;
}

.post{
    margin: 2rem 8rem;
    text-align: center;
    font-size: 15pt;
    border-bottom: solid var(--text);
}

.post>img{
    width: 100%;
    height: auto;
}

.post>header>img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.post>header{
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post>header>a{
    margin-left: 2rem;
    font-size: 25pt;
    text-decoration: none;
    color: var(--text);
}

.post>p{
    margin: 1rem 0;
    padding: 2rem;
    background-color: var(--backgnd_contrast);
    font-size: 20pt;
}

.post section{
    list-style: none;
    margin-bottom: 1rem;
}