* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    background: linear-gradient(277deg, #996A3B 0%, rgba(255, 255, 255, 0.00) 35.56%), linear-gradient(104deg, #986D43 0.5%, #AA9A90 63.51%);
}
  
main {
    margin-top: 15px;
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    background: #AA9A90;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    padding-top: 20px; /* Spazio sopra il contenuto */
    margin-bottom: 45px;
}

main > img {
    position: absolute;
    top: 10px; /* Distanza dal top */
    left: 10px; /* Distanza dal left */
    width: 50px; /* Dimensione dell'immagine */
    height: 50px;
    border-radius: 50%; /* Rendere l'immagine rotonda */
    object-fit: cover; /* Mantiene l'aspetto dell'immagine */
    border: 2px solid #fff; /* Bordo bianco intorno all'immagine */
}

#chk-login, #chk-signup{
    display: none;
}

.signup{
	position: relative;
	width:100%;
	height: 100%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.sign-up {
    margin: 60px 0 35px;
}

/* Stile degli input ripristinato */
input {
    width: 60%;
    height: 30px; /* Altezza modificata per una migliore visualizzazione */
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
	background: #6d44b8;
}
/* Stile del footer */
footer {
    position: fixed;
    margin-top: 15px;
    width: 100%;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.7); /* Colore del footer con trasparenza */
    color: white;
    padding: 5px 0 0;
    text-align: center;
    font-size: small;
    bottom: 0;
}
  
footer a {
    text-decoration: none;
    color: white;
    margin-right: 20px; /* Spazio tra i link */
    
}
footer a:hover {
    text-decoration: underline;
}
  
footer a:last-child {
    margin-right: 0; /* Rimuove lo spazio dal lato dell'ultimo link */
}
  
/* Stile per il testo del copyright */
footer p {
    margin: 0;
}
/* Stile della sezione di login */
.login {
    height: 460px;
    background: #f5f5f5;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: transform .7s ease-in-out;
}
/* Stile delle etichette all'interno della sezione di login */
.login label {
    color: #573b8a;
    transform: scale(.6);
}
/* Animazione quando il checkbox è selezionato */
#chk-signup:checked ~ main .login {
    transform: translateY(-500px);
}

/* Quando il checkbox è selezionato, la label "Sign up" si ingrandisce mentre la label "Login" si rimpicciolisce */
#chk-signup:checked ~ main .signup label {
    transform: scale(0.6); /* Modifica la scala per rendere la label "Sign up" più grande */
}

#chk-signup:checked ~ main .login label {
    transform: scale(1.2); /* Modifica la scala per rendere la label "Login" più piccola */
}

/* Stile delle etichette generiche */
form label:not([for="chk-login"]):not([for="chk-signup"]):not([for="error-message"]) {
    display: none;
}

.error-message {
    font-size: small;
    margin: 0;
    color: darkred;
    text-align: center;
}

/* Stile della foto del telefono */
body > div > img {
    display: none;
}

@media screen and (min-width: 768px) {
    body > div > img {
        display: inline-block;
        width: 20rem;
        margin-right: 20px;
        margin-left: 50px;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    main {
        width: 20rem;
        margin-left: 20px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 768px) {
    body > div > img {
        display: inline-block;
        width: 23rem;
        margin-right: 35px;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    main {
        width: 20rem;
        margin-left: 35px;
    }
}
