*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    position: fixed;
    bottom: 1rem;
    height: 4rem;
    margin-left: 5%;
    list-style: none;
    background-color: var(--contrast);
    border-radius: 1.25rem;
}

.icon-name{
    display: none;
}

@media screen and (min-width: 768px) {

    * {
        font-size: 16px;
    }

    .icon{
        scale: 1.2;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 8%;
        height: 100%;
        flex-direction: column;
        border-radius: 0;
    }

    body>main, body>header, body>footer{
        width: 92%;
        margin-left: 8%;
    }

}

@media screen and (min-width: 1280px) {

    * {
        font-size: 18px;
    }

    .navbar {
        position: fixed;
        width: 15%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
    }

    .navbar-item{
        display: flex;
        gap: 1rem;
    }
    
    .navbar .icon-name {
        display: block;
    }

    body>main, body>header, body>footer{
        width: 85%;
        margin-left: 15%;
    }
    
}