*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    position: fixed;
    bottom: 2rem;
    height: 6rem;
    margin-left: 5%;
    list-style: none;
    background-color: #A1A7B8;
    border-radius: 2rem;
}

.icon-name{
    display: none;
}

@media screen and (min-width: 768px) {

    * {
        font-size: 18px;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 10%;
        height: 100%;
        flex-direction: column;
        border-radius: 0;
    }

    main, header{
        width: 90%;
        margin-left: 10%;
    }

}

@media screen and (min-width: 1480px) {

    * {
        font-size: 20px;
    }

    .navbar {
        position: fixed;
        width: 8%;
        height: 100%;
        flex-direction: column;
    }
    
    .navbar .icon-name {
        display: block;
    }

    main, header{
        width: 92%;
        margin-left: 8%;
    }
    
}