main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post{
    margin: 1rem 3rem;
    text-align: center;
    border-bottom: solid var(--text);
    max-width: 450px;
}

.post>img{
    width: 100%;
    height: auto;
}

.post>header>img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.post>header{
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post>header>a{
    margin-left: 5%;
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}

.post>p{
    margin: 2% 0;
    padding: 1.25rem;
    border-radius: 1rem;
    background: rgba(161, 167, 184, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    line-height: 160%; /* 1rem */
    letter-spacing: -0.00625rem;
}

.post section{
    list-style: none;
    margin-bottom: 1rem;
}

.comments{
    display: none;
}

.open{
    .comments{
        display: block;
    }
}

@media screen and (min-width: 768px) {

    * {
        font-size: 18px;
    }

    .icon{
        scale: 1.2;
    }

    .post header a{
        font-size: 18px;
    }

}

@media screen and (min-width: 1280px) {

    * {
        font-size: 20px;
    }

}