main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post{
    margin: 1rem 3rem;
    text-align: center;
    border-bottom: solid var(--text);
    max-width: 400px;
}

.post>img{
    width: 100%;
    height: auto;
}

.post>header>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post>header{
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post>header>a{
    margin-left: 5%;
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}

.post>p, .comments p{
    margin: 2% 0;
    padding: 1.25rem;
    border-radius: 1rem;
    background: var(--contrast);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    line-height: 160%; /* 1rem */
    letter-spacing: -0.00625rem;
}

.post section{
    list-style: none;
    margin-bottom: 1rem;
}

.post>section>h1{
    display: none;
}

.comments{
    display: none;
}

.open{

    .comments{
        position: relative;
        display: block;
        margin: 1rem 3rem;
        padding: 1rem;
        max-width: 400px;
    }

    .description{
        display: none;
    }

    .comments p{
        margin: 5%;
        padding: 0.5rem 1rem;
    }

    .comments h2{
        text-align: center;
        padding-bottom: 7%;
    }

    .comments input{
        margin-bottom: 0.8rem;
        text-align: center;
        width: 90%;
        padding: 0.5rem;
        border-radius: 1rem;
        background: var(--backgnd);
        color: var(--textContrast);
        box-shadow: 3px 3px 0px 0.5px rgba(0, 0, 0, 0.25);
        border: solid 1px #ADB5BD;
    }

    .comments form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {

    * {
        font-size: 16px;
    }

    .icon{
        scale: 1.2;
    }

    .post{
        margin: 1rem 1.5rem;
    }

    .post header a{
        font-size: 16px;
    }

    .open{
        display: flex;
    
        .post{
            border: none;
        }

        .post>p{
            display: none;
        }

        .comments{
            margin: 1rem 0;
            width: 350px;
            border-left: solid black;
        }

        .comments form{
            width: 92%;
            position: absolute;
            bottom: 0;
            margin: 0;
        }

        .comments-container{
            height: 60%;
            overflow: hidden;
            overflow-y: auto;
            border: solid lightgray;
            border-radius: 1rem;
        }

        .description{
            display: block;
        }
    }

}

@media screen and (min-width: 1280px) {

    * {
        font-size: 18px;
    }

    .post{
        max-width: 450px;
    }

}