@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&family=Newsreader:opsz,wght@6..72,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

:root{
    --backgnd: #E6E6E6;
    --text: #282c30; /* dark-grey */
    --contrast: #A1A7B8;
    --elem1: #9a85FC; /* purple */
    --elem2: #86B7B8; /* green */
}

.dark{
    --backgnd: #282828;
    --text:  #c0c0c0;
    --contrast: #181718;
}

body{
    background-color: var(--backgnd);
    font-size: 14px;
    color: var(--text);
}

/*____________________style icon____________________*/

.icon {
    transition: 0.8s ease;
    /* filter: invert(18%) sepia(31%) saturate(347%) hue-rotate(175deg) brightness(100%) contrast(87%);  dark grey */
    /* filter: invert(75%) sepia(26%) saturate(335%) hue-rotate(132deg) brightness(89%) contrast(88%);   green */
    /* filter: invert(70%) sepia(56%) saturate(5844%) hue-rotate(217deg) brightness(105%) contrast(98%); purple */
    /* filter: invert(82%) sepia(96%) saturate(6%) hue-rotate(131deg) brightness(111%) contrast(80%);    white */
}

.dark .icon{
    filter: invert(82%) sepia(96%) saturate(6%) hue-rotate(131deg) brightness(111%) contrast(80%);
}

.icon:hover {
    transform: scale(1.4);
}

.icon:hover ~ .line {
    display: block;
}

@media screen and (min-width: 768px) {

    * {
        font-size: 16px;
    }

    .icon{
        scale: 1.2;
    }

}

@media screen and (min-width: 1280px) {

    * {
        font-size: 18px;
    }

}