@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

:root{
    --backgnd: #E6E6E6;
    --text: #000;
    --backgnd_contrast: #A1A7B8;
}

body{
    background-color: var(--backgnd);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/*____________________style icon____________________*/

.icon {
    transition: 0.8s ease;
}

.icon:hover {
    transform: scale(1.4);
}

.icon:hover ~ .line {
    display: block;
}

@media screen and (min-width: 768px) {

    * {
        font-size: 16px;
    }

    .icon{
        scale: 1.2;
    }

}

@media screen and (min-width: 1280px) {

    * {
        font-size: 18px;
    }

}