body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    display: none;
}

.form-container {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    padding: 20px;
}

.custom-button {
    display: block;
    margin: 10px auto;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid var(--elem2);
    color: var(--elem2);
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-button:hover {
    background-color: var(--elem2);
    color: #fff;
}

#image {
    display: none;
}

#imageName {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#submitButton {
    border: none;
    color: white;
    background: var(--elem2);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#submitButton:hover {
    background-color: #fff;
}
